@{

    ViewBag.Title = "Index";
}
@model List<Product>
<div class="col-lg-10 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Product Table</h4>
            <a class="btn btn-primary" style="text-decoration:none;" asp-action="Create">Create Product</a>
            <p class="card-description">
                Add class <code>.table</code>
            </p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Count</th>
                            <th>Price</th>
                            <th>SalePercantage</th>
                            <th>Settings</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model)
                        {
                            <tr>
                                <td>
                                    <img src="~/assets/img/@product.ProductImages.FirstOrDefault(pi=>pi.IsMain).ImgUrl" />
                                </td>
                                <td>@product.Name</td>
                                <td>@product.Count</td>
                                <td>@product.Price$</td>
                                <td>@product.SalePercantage%</td>
                                <td>
                                    <a asp-action="Delete" asp-route-id="@product.Id"><i class="mdi mdi-delete btn btn-outline-danger "> </i></a>
                                    <a asp-action="Update" asp-route-id="@product.Id"><i class="mdi mdi-table-edit btn btn-outline-warning"> </i></a>
                                    <a asp-action="Detail" asp-route-id="@product.Id"> <i class="mdi mdi-account-card-details btn btn-outline-primary"> </i></a>
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>